
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow-x:none ;
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);


    

}
.navcontainer{
    width: 100%;
    /* background-color: blueviolet; */

    background-image: radial-gradient( circle 918px at 13.1% 25.5%,
      rgba(249,107,107,1) 0%,
     rgba(247,231,172,1) 48.9%, rgba(173,247,172,1) 90% );

    min-height: 60px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */

}
#navlist{
    list-style: none;
    
    display: flex;
    justify-content:space-between;
    margin-left: 15px;
    margin-right: 15px;
    
}
#navlogo{
    font-size: 2.8rem;
    font-style: oblique;
    color: aliceblue;
    padding: 1rem;
}
   a{           /*way to address all anchor tags. */
    text-decoration: none;
    color: aliceblue;
    
   }
   #refer{
    display: flex;
    gap: 20px;
    padding: 1rem;
    
   }
   .footerbox{
    background-image: radial-gradient( circle 918px at 13.1% 25.5%,
      rgba(249,107,107,1) 0%,
     rgba(247,231,172,1) 48.9%, rgba(173,247,172,1) 90% );
    color: aliceblue;
    text-align: center;
    min-height: 30px;
  

   }
   .footerbox p{
    color: black;
    font-size: 1.7rem;
    
   }
  
   .contentbox{
    width: 50%;
    margin: auto;
    border: 1px solid black;
    background-color:white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 3px 3px 30px black;
   }
   .item{
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   .rightbox img{
    height: 400px;
    border-radius: 20px;
    transition: all;
    transition-duration: 2s;
   }
   .rightbox:hover{
    transform: scale(1.1);
   }
   .leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
   .leftbox h2{
    font-size: 2rem;
   }
   .ingbox{
    font-size: 1.3rem;
   }
   .Recipebox{
    font-size: 1.1rem;

   }

   .rightbox{
    position: relative;
    overflow: hidden;
   }

   .rightbox  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 99.2%;
    width: 100%;
    background-color: rgba(128, 150, 151, 0.452);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

   }
   .rightbox:hover .overlay{
    opacity: 1;

   }
   

   .rightbox.overlay span{
    color: white;
    font-size: 1.2rem;
   }


    
